@import "activeadmin_addons/all";
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.bip {
  cursor: pointer;
  padding: 3px 5px;
  box-shadow: 0 1px 2px 0 black;
  text-transform: uppercase;
  font-weight: 600;
}

.status_tag {
  &.opened {
    color: white;
    background-color: darkslateblue;
  }

  &.cancelled {
    color: white;
    background-color: dimgray;
  }

  &.closed {
    color: white;
    background-color: darksalmon;
  }

  &.long {
    color: white;
    background-color: darkseagreen;
  }

  &.short {
    color: white;
    background-color: darkred;
  }
}

.panel_actions {
  padding: 10px 0;
  display: flex;

  span {
    display: block;
  }

  span + span {
    margin-left: 7px;
  }
}

// NOTE(DZ): Larger text area font
textarea {
  font-size: 1.2em !important;
}

// NOTE(DZ): Render new line character in sidebar
.attributes_table tr.text td {
  white-space: pre-wrap;
}

// NOTE(DZ): Weird bug from ActiveAdmin, eager_load broken for rails 6.1
// https://github.com/activeadmin/activeadmin/issues/2329
// Best fix so far is to add Rails.env to classes and fix it with css here
.production {
  &#stats_sidebar_section:nth-of-type(2) {
    display: none;
  }

  &#plan_sidebar_section:nth-of-type(2),
  &#plan_sidebar_section:nth-of-type(3) {
    display: none;
  }
}

// NOTE(DZ): Formtastic style overwrites
form.formtastic {
  fieldset {
    // NOTE(DZ): Fix annoying margin difference between form and show page
    margin-top: 1em;

    fieldset.choices {
      margin-top: 0;

      legend.label {
        display: block;
      }

      ol.choices-group {
        display: flex;

        li + li {
          margin-left: 0.5em;
        }

        li {
          text-transform: uppercase;
        }
      }
    }
  }
}
